@charset "utf-8";

// pure css framework
@import "pure/pure-min.css";
@import "pure/grids-responsive-min.css";

// iwdd settings
$iwdd_red: #FD2518;

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "UD黎ミン L JIS2004", "UD Reimin Light JIS2004", "A-OTF UD黎ミン Pro L", "UDReiminPro-Light", Georgia, Times, "Times New Roman", serif;
}

body {
  color:#393939;
  background-color:#fff;
  font-size:13px;
}

a {
  color:inherit;
  text-decoration:underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
  font-size:1.4rem;
  color:darken($iwdd_red, 15%);
}

.banner-head {
  width:50%;
  margin:50px auto;
  opacity: .8;
}

@media screen and (min-width: 35.5em) {
  .banner-head {
    width:40%;
  }
}

@media screen and (min-width: 48em) {
  .banner-head {
    width:30%;
  }
}

.base-info {
  margin: 30px;
  .base-contents {
    padding:10px;
    h2 {
      text-align: center;
    }
  }
}

.base-contents {
  text-align:center;
  h2 {
    font-size:1.4rem;
  }
  p {

  }
  dl {
    margin-top: 80px;
    padding:80px 0 80px 0;
    border-bottom: 1px dotted #bbb;
    border-top: 1px dotted #bbb;
  }
  dt {
    color:darken($iwdd_red, 15%);
    padding:0;
    margin:0;
    line-height:1.2;
  }
  dd {
    padding:0;
    margin:0 0 20px 0;
  }
}

.base-time-table {
  margin: 30px;
  h1 {
    text-align: center;
  }
  .time-contents {
    border:1px dashed #bbb;
    @media (-webkit-min-device-pixel-ratio: 2){
      border:0.5px dashed #bbb !important;
    }
    margin:15px;
    padding:10px;
    border-radius: 10px;
    h2 {
      font-size:1rem;
      color:darken($iwdd-red, 20%)
    }
  }
}

.base-link2doorkeeper {
  margin: 30px 0 80px;
  text-align: center;
  a.pure-button-iwdd {
    background-color: darken($iwdd_red, 15%);
    color: #ffffff;
    padding:8px 30px;
  }
}

@media screen and (min-width: 35.5em) {
  .base-info {
    margin: 40px 80px;
  }
  .base-time-table {
    margin: 40px 80px;
  }
  .base-link2doorkeeper {
    margin: 40px 0;
  }
}

@media screen and (min-width: 48em) {
  .base-info {
    margin: 10%;
  }
  .base-time-table {
    margin: 10%;
  }
  .base-link2doorkeeper {
    margin: 10% 0;
  }
}

@media screen and (min-width: 64em) {
  .base-info {
    margin: 60px 10%;
  }
  .base-time-table {
    margin: 80px 10%;
  }
  .base-link2doorkeeper {
    margin: 10% 0;
  }
}
