- yml = data.iwdd.next_event
| <script type="application/ld+json">
|   {
|     "@context": "http://schema.org",
|     "@type": "Event",
|     "name": "IWDD #{yml.vol}",
|     "location": {
|       "@type": "Place",
|       "name": "#{yml.room}",
|       "address": "岩手県盛岡市盛岡駅西通1丁目7番1号",
|       "url": "http://www.aiina.jp/"
|     },
|     "offers": {
|       "@type": "Offer",
|       "price": "500",
|       "priceCurrency": "円",
|       "availability": "10",
|       "validFrom": "#{yml.date_y}-#{yml.date_m.to_i - 1}-#{yml.date_d}T#{yml.start}:00+09:00",
|       "url": "#{yml.form_url}"
|     },
|     "image": {
|       "@type": "ImageObject",
|       "url": "https://iwdd.net/img/iwdd_logo.svg",
|       "height": 912,
|       "width": 214
|     },
|     "doorTime": "#{yml.date_y}-#{yml.date_m}-#{yml.date_d}T#{yml.start}:00+09:00",
|     "startDate": "#{yml.date_y}-#{yml.date_m}-#{yml.date_d}T#{yml.start}:00+09:00",
|     "endDate": "#{yml.date_y}-#{yml.date_m}-#{yml.date_d}T#{yml.end}:00+09:00",
|     "duration": "PT3H",
|     "performer": {
|       "@type": "Organization",
|       "name": "IWDD",
|       "url": "https://iwdd.net/img/iwdd_logo.svg"
|     },
|     "description": "IWDDはWebに関連する最先端のデザイン系＆技術系な岩手のIT勉強会です。"
|   }
| </script>
